<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stickerViewType0</key>
	<array>
		<string>FamilyTitle</string>
		<string>SpeerateLine</string>
		<string>ActivityTitle</string>
		<string>gap10</string>
		<string>ActivityContent</string>
		<string>gap10</string>
		<string>stickers</string>
		<string>gap10</string>
		<string>uperBtn</string>
		<string>gap10</string>
		<string>gap10</string>
		<string>lowerBtn</string>
		<string>gap10</string>
		<string>ActivityDescriptionTitle</string>
		<string>gap10</string>
		<string>ActivityDescriptionContent</string>
		<string>gap10</string>
		<string>ActivityDurationTitle</string>
		<string>gap10</string>
		<string>ActivityDurationContent</string>
		<string>gap10</string>
		<string>ExchangeTimeTitle</string>
		<string>gap10</string>
		<string>ExchangeTimeContent</string>
		<string>gap10</string>
		<string>ExchangeMethodTitle</string>
		<string>gap10</string>
		<string>ExchangeMethodContent</string>
		<string>gap10</string>
		<string>URLTitle</string>
		<string>gap10</string>
		<string>URLContent</string>
	</array>
	<key>stickerViewType1</key>
	<array>
		<string>FamilyTitle</string>
		<string>SpeerateLine</string>
		<string>ActivityTitle</string>
		<string>gap10</string>
		<string>ActivityContent</string>
		<string>gap10</string>
		<string>ActivityDescriptionTitle</string>
		<string>gap10</string>
		<string>ActivityDescriptionContent</string>
		<string>gap10</string>
		<string>ActivityDurationTitle</string>
		<string>gap10</string>
		<string>ActivityDurationContent</string>
		<string>gap10</string>
		<string>ExchangeTimeTitle</string>
		<string>gap10</string>
		<string>ExchangeTimeContent</string>
		<string>gap10</string>
		<string>ExchangeMethodTitle</string>
		<string>gap10</string>
		<string>ExchangeMethodContent</string>
		<string>gap10</string>
		<string>URLTitle</string>
		<string>gap10</string>
		<string>URLContent</string>
	</array>
	<key>giftViewType0</key>
	<array>
		<string>FamilyTitle</string>
		<string>SpeerateLine</string>
		<string>ActivityTitle</string>
		<string>gap10</string>
		<string>ActivityContent</string>
		<string>gap10</string>
		<string>gap10</string>
		<string>ActivityBtn</string>
		<string>gap10</string>
		<string>gap10</string>
		<string>ActivityDescriptionTitle</string>
		<string>gap10</string>
		<string>ActivityDescriptionContent</string>
		<string>gap10</string>
		<string>ActivityDurationTitle</string>
		<string>gap10</string>
		<string>ActivityDurationContent</string>
		<string>gap10</string>
		<string>ExchangeTimeTitle</string>
		<string>gap10</string>
		<string>ExchangeTimeContent</string>
		<string>gap10</string>
		<string>ExchangeMethodTitle</string>
		<string>gap10</string>
		<string>ExchangeMethodContent</string>
		<string>gap10</string>
		<string>URLTitle</string>
		<string>gap10</string>
		<string>URLContent</string>
	</array>
	<key>giftViewType1</key>
	<array>
		<string>FamilyTitle</string>
		<string>SpeerateLine</string>
		<string>ActivityTitle</string>
		<string>gap10</string>
		<string>ActivityContent</string>
		<string>gap10</string>
		<string>ActivityDescriptionTitle</string>
		<string>gap10</string>
		<string>ActivityDescriptionContent</string>
		<string>gap10</string>
		<string>ActivityDurationTitle</string>
		<string>gap10</string>
		<string>ActivityDurationContent</string>
		<string>gap10</string>
		<string>ExchangeTimeTitle</string>
		<string>gap10</string>
		<string>ExchangeTimeContent</string>
		<string>gap10</string>
		<string>ExchangeMethodTitle</string>
		<string>gap10</string>
		<string>ExchangeMethodContent</string>
		<string>gap10</string>
		<string>URLTitle</string>
		<string>gap10</string>
		<string>URLContent</string>
	</array>
</dict>
</plist>
